html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #e8cebf;
  color: #212121;
}

.timer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
  border-radius: 2px;
  width: 500px;
}
.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 80px;
}
.field:not(:last-child) .value::after {
  content: ':';
}
.label {
  padding-left: 25px;
  text-align: left;
  font-size: 15px;
}
.message {
  font-size: 60px;
  text-align: center;
}
